/* your code */
body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        table {
            width: 90%;
            margin: 40px auto;
            border-collapse: collapse;
            border-radius: 15px;
            overflow: hidden;
        }

        thead {
            background-color: #1f5784;
            color: white;
        }

        th, td {
            padding: 18px;
            font-size: 18px;
            text-align: center;
        }

        tbody tr:nth-child(even) {
            background-color: #dedede;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
		}